# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Dependency directories
client/node_modules
server/node_modules

# Production
build/
dist/

# Misc
.DS_Store
.env

# Frontend build
client/build
